<div class="container">
  <div class="map" style="display: inline-block" #map leaflet leafletDraw [leafletOptions]="leafletOptions"
       [leafletDrawOptions]="drawOptions"
       (leafletMapReady)="onMapReady($event)">
    <div [leafletLayer]="drawnItems"></div>
    <div [leafletLayer]="cameraLayer"></div>
  </div>

  <div class="form-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container [matColumnDef]="property" *ngFor="let property of propertyList">
        <th [ngClass]="{}" mat-header-cell *matHeaderCellDef> {{queryables.properties[property].title}} </th>
        <td mat-cell *matCellDef="let element"> {{element[property]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="propertyList"></tr>
      <tr mat-row *matRowDef="let row; columns: propertyList;"></tr>
    </table>
    <mat-paginator [pageSize]="10"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
